.App {
    background-image: url('https://img.freepik.com/free-vector/chatbot-technology-isometric-icons-interface-set_107791-140.jpg?size=626&ext=jpg&ga=GA1.2.715582378.1682168041&semt=robertav1_2_sidr');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rcw-conversation-container>.rcw-header {
    background-color: #282c34;
}

.rcw-response {
    color: white;
}

.rcw-message {
    color: white;
}

.rcw-client .rcw-message-text {
    background-color: #282c34;
}

.rcw-response .rcw-message-text {
    background-color: #282c34;
}

.rcw-launcher {
    background-color: #282c34;
}

.quick-button {
    border: 2px solid #282c34;
}

.quick-buttons {
    /* border: 2px solid #282c34; */
    display: flex;
    align-items: left;
    padding: 1rem;
    gap: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    /* overflow-x: scroll; */
    overflow-y: scroll;
    justify-content: space-between;
    margin: auto 0;
    /* max-width: 500px; */
    max-height: 200px;
    scroll-snap-type: y mandatory;
}

.rcw-timestamp {
    color: #282c34;
}

.quick-buttons-container {
    max-height: 100px;
}